
header {
	margin: 0 0 3em;
  }
  header:after {
	clear: both;
	content: "";
	display: table;
  }
  
  header h5 {
	background: #000;
	border-radius: 0.25em;
	color: #fff;
	margin: 0 0 1em;
	padding: 0.5em 0;
  }
  header address {
	float: left;
	font-size: 95%;
	font-style: normal;
	line-height: 1.25;
	margin: 0 1em 1em 0;
  }
  header address p {
	margin: 0 0 0.25em;
  }
  header span,
  header img {
	display: block;
	float: right;
  }
  header span {
	margin: 0 0 1em 1em;
	max-height: 25%;
	max-width: 60%;
	position: relative;
  }
  header img {
	max-height: 100%;
	max-width: 100%;
  }
  header input {
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
  }
  